<header>
    <section class="isologotipo">
        <div class="logo">
            <a href="home"><img src="/img/Logo.png" alt=""></a>
        </div>
        <div>
            <h3>Almacen Solidario</h3>
            <h4>Comenzá a ayudar</h4>
        </div>
    </section>

    <section class="navegacion">
        <div class="encabezado">
            
            <div class="usuario">
                <a href=""><i class="fas fa-user"></i></a>
                <p>Nombre</p>
            </div>

            <div class="carrito">
                <a href=""><i class="fas fa-shopping-cart"></i></a>
                <p>$3.500</p>
            </div>

        </div>

        <nav>
            <ul>
                <li><a href="/almacen">Almacen</a></li>
                <li><a href="/instituciones">Instituciones</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li class="subLogin">
                    <a href="/login">Cuenta</a>
                    <ul class="children">
                        <li><a href="/users/registro">Crear Cuenta</a></li>
                        <li><a href="/users/login">Login</a></li>
                    </ul>
                
                </li>
            </ul>
        </nav>
    </section>
</header>