<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Agregar marca</title>
</head>
<body class="admin">

    <%- include('../partials/headerAdmin')%>
    
    <main class="admin">
        
        <div class="sectionAdmin">
            <form action="/products/agregarmarca" method="POST">
                <label for="">Agregar nueva marca</label><br>
                <input type="text" name="marca"><br>
                <button class="adminButton" type="submit">Agregar <strong>marca</strong></button>
            </form>
        </div>

        <div class="sectionAdmin">
            <form action="/products/agregarunidad" method="POST">
                <label for="">Agregar nueva unidad</label><br>
                <input type="text" name="unidad"><br>
                <button class="adminButton" type="submit">Agregar <strong>unidad</strong></button>
            </form>
        </div>
        
        <div class="sectionAdmin">
            <form action="/products/agregarcategoria" method="POST">
                <label for="">Agregar nueva categoria</label><br>
                <input type="text" name="categoria"><br>
                <button class="adminButton" type="submit">Agregar <strong>categoria</strong></button>
            </form>
        </div>
        
        <div class="sectionAdmin">
            <form action="/products/agregarsubcategoria" method="POST">
                <label for="">Agregar nueva sub-categoria</label><br>
                <input type="text" name="subCategoria"><br>
                <button class="adminButton" type="submit">Agregar <strong>sub-categoria</strong></button>
            </form>
        </div>
        

    </main>


</body>
</html>