<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
</head>
<body>
    <head>
        
    </head>
    <main>
        <h1>Listado de productos</h1>
        <ol>
            <% for (let i = 0; i < productos.length; i++) { %>
                <li>
                    <%=productos[i].id%>
                    <%=productos[i].descripcion%>
                    <%= productos[i].descripcion_completa%>
                    $<%=productos[i].precio%>
                </li>
            <% } %>
        </ol>
    </main>
</body>
</html>