<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Nosotros</title>
</head>
<body>
    <div>

    <%- include('./partials/header')%>
    </div>
    <main class = "about">
        <section class = "imagenAbout">
            <img src="/img/equipo5.jpeg" alt="">
        </section>

        <section class = "textoAbout">
            <h3>"Doná a distintas instituciones desde la comodidad de tu hogar"</h3>
            <p>
                Somos un grupo de personas a los cuales la situación actual no nos es indiferente y decidimos tomar cartas en el asunto.<br>

                Con el trabajo de todos desarrollamos el almacén solidario. <br>
                
                El proyecto contempla el desarrollo de una web solidaria donde puedas elegir comprar entre distintos alimentos y artículos que se necesitan y elegir a qué institución donarlos. Facilitando y transparentando el proceso para que los productos lleguen directamente a quienes lo necesitan.<br>
                
                Podrás recorrer entre los distintos artículos e ir agregando a tu carrito con los que quieras ayudar, como por ejemplo (leche en polvo, harina, polenta, conservas enlatadas, pañales, etc).<br>
                
                Luego deberás elegir de un listado de instituciones, organizaciones sociales y comedores al que quieras ayudar.<br>
                
                Realizaras el pago y los productos serán entregados directamente a la organización que hayas elegido.<br>
              
            </p>

        </section>


    </main>
    
    <%- include('./partials/footer') %>
    
</body>
</html>