<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/stylehome.css">
    <link rel="stylesheet" href="/stylesheets/estiloFooter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/estiloFooter.css">
</head>
<body>

    <%- include('./partials/header')%>

    <main class="home">
        <section class="imagenPortada">
            <img src="/img/Portada.jpg" alt="">
            
            <div class="flotante">
                <a href="#">Donar<i class="far fa-heart"></i></a>

            </div>
            
        </section>

        <section class="proceso">
            <div>
                <i class="fas fa-cart-arrow-down"></i>
                <h3>Seleccionas el producto</h3>
            </div>
            <div>
                <i class="fas fa-hotel"></i>
                <h3>Elegis la institucion</h3>
            </div>
            <div>
                <i class="fas fa-truck-moving"></i>
                <h3>Los entregamos</h3>
            </div>
            <div>
                <i class="fas fa-child"></i>
                <h3>Ayudas</h3>
            </div>
        </section>

        <section class="imagenAlimentos">
            <img src="/img/Alimentos1.jpg" alt="">
        </section>

        <section class="contadores">
            <div>
                <h3>345.587</h3>
                <h3>Kg donados</h3>
            </div>

            <div>
                <h3>45.389</h3>
                <h3>Productos</h3>
            </div>

            <div>
                <h3>3.562</h3>
                <h3>Personas alcanzadas</h3>
            </div>
        </section>

    </main>

    <%- include('./partials/footer') %>

</body>
</html>