<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/stylehome.css">
</head>
<body>
    <header>
        Soy header
    </header>

    <main>
        <section class="imagenPrincipal">
            <img src="/img/Comedor06.jpg" alt="">
            <div class="flotante">Dona</div>
        </section>

        <section class="proceso">
            <div>a</div>
            <div>b</div>
            <div>c</div>
            <div>d</div>
        </section>

        <section class="contadores">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>js1</div>
            <div>js2</div>
            <div>js3</div>
        </section>

    </main>

    <footer>
        Soy footer
    </footer>

</body>
</html>