<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/stylehome.css">
    <link rel="stylesheet" href="/stylesheets/estiloFooter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/estiloFooter.css">
</head>
<body>
    <header>
        <section class="isologotipo">
            <div class="logo">
                <img src="/img/Logo.png" alt="">
            </div>
            <div>
                <h3>Almacen Solidario</h3>
                <h4>Comenzá a ayudar</h4>
            </div>
        </section>

        <section class="navegacion">
            <div class="encabezado">
                
                <div class="usuario">
                    <a href=""><i class="fas fa-user"></i></a>
                    <p>Nombre</p>
                </div>

                <div class="carrito">
                    <a href=""><i class="fas fa-shopping-cart"></i></a>
                    <p>$3.500</p>
                </div>

            </div>

            <nav>
                <ul>
                    <li><a href="">Almacen</a></li>
                    <li><a href="/instituciones">Instituciones</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li class="subLogin">
                        <a href="/login">Cuenta</a>
                        <ul class="children">
                            <li><a href="/registro">Crear Cuenta</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    
                    </li>
                </ul>
            </nav>
        </section>
    </header>

    <main class="home">
        <section class="imagenPortada">
            <img src="/img/Portada.jpg" alt="">
            
            <div class="flotante">
                <a href="#">Donar<i class="far fa-heart"></i></a>

            </div>
            
        </section>

        <section class="proceso">
            <div>
                <i class="fas fa-cart-arrow-down"></i>
                <h3>Seleccionas el producto</h3>
            </div>
            <div>
                <i class="fas fa-hotel"></i>
                <h3>Elegis la institucion</h3>
            </div>
            <div>
                <i class="fas fa-truck-moving"></i>
                <h3>Los entregamos</h3>
            </div>
            <div>
                <i class="fas fa-child"></i>
                <h3>Ayudas</h3>
            </div>
        </section>

        <section class="imagenAlimentos">
            <img src="/img/Alimentos1.jpg" alt="">
        </section>

        <section class="contadores">
            <div>
                <h3>345.587</h3>
                <h3>Kg donados</h3>
            </div>

            <div>
                <h3>45.389</h3>
                <h3>Productos</h3>
            </div>

            <div>
                <h3>3.562</h3>
                <h3>Personas alcanzadas</h3>
            </div>
        </section>

    </main>

    <footer class="disenio-footer">
        <p class="copyright">Copyright 2020 Almacen Solidario</p>
        <p id="preguntas-frecuentes"><a class="preguntas-frecuentes" href="preguntas-frecuentes">Preguntas Frecuentes</a></p>
        <div class="redes">
            <p>Seguinos!</p>
            <div class="iconos-redes">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>