<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleInstituciones.css">
    <title>Instituciones</title>
</head>
<body>
    <header>
        Soy Header
    </header>

    <main>
        <section class="insti1">
            <img src="/img/test.jpeg" alt="">
            <div class="infoInsti1">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta voluptatem ipsum tenetur ratione minus eius enim nam obcaecati placeat unde.</p>
            </div>        
        </section>

        <section class="insti2">
            <img src="/img/test1.jpg" alt="">
            <div class="infoInsti2">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor libero sint quod iure, iusto eius officiis accusamus soluta culpa pariatur.</p>

            </div>
        </section>

        <section class="insti3">
            <img src="/img/test2.jpeg" alt="">
            <div class="infoInsti3">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias aut error in aspernatur cumque, commodi molestias architecto libero veniam incidunt?</p>

            </div>
        </section>

        <section class="insti4">
            <img src="/img/test1.jpg" alt="">
            <div class="infoInsti4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas pariatur praesentium soluta a fuga vel dolore, adipisci earum nihil vero.</p>

            </div>
        </section>

    </main>

    <footer>
        Soy Footer
    </footer>
    
</body>
</html>