<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituciones</title>
</head>
<body>
    <header>
        Soy Header
    </header>

    <main>
        <section class="insti 1">
            <div class="infoInsti 1">

            </div>        
        </section>

        <section class="insti 2">
            <div class="infoInsti 2">

            </div>
        </section>

        <section class="insti 3">
            <div class="infoInsti 3">

            </div>
        </section>

        <section class="insti 4">
            <div class="infoInsti 4">

            </div>
        </section>

    </main>

    <footer>
        Soy Footer
    </footer>
    
</body>
</html>