<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Instituciones</title>
</head>
<body>

    <%- include('./partials/header')%>

    <main class="insti">
        <section class="insti1">
            <div class="infoInsti1">
                <h3>Los piletones</h3>
                <p>En el Comedor Los Piletones se alimentan diariamente a 1600 personas entre ellos chicos, madres y abuelos. Se les brinda desayuno, almuerzo y cena.</p>
                <a href="https://www.porloschicos.com/">www.porloschicos.com</a>
                <hr>
            
            </div>
            <div class="imgInsti1">
                <img src="/img/Comedor08.jpg" alt="">
            </div>        
        </section>

        <section class="insti2">
            <div class="imgInsti2">
                <img src="/img/Comedor06.jpg" alt="">
            </div>
            <div class="infoInsti2">
                <h3>Los niños primero</h3>
                <p>Nuestro compromiso moral de trabajar con los vecinos de Barracas y La Boca en una solución a los problemas urgentes que enfrentan las clases sociales más desprotegidas es desde 1988 nuestra misión principal.</p>
                <a href="http://losniniosprimero.com.ar/">www.losniniosprimero.com.ar</a>
                <hr>
            </div>
        </section>

        <section class="insti3">
            <div class="infoInsti3">
                <h3>Los bajitos</h3>
                <p>Somos una organización social que construye y sustenta un espacio en el que las familias del barrio Troncos del Talar, ubicado en el Partido de Tigre, se reúne y participa de actividades y acciones comunitarias.</p>
                <a href="http://www.losbajitos.org.ar/">www.losbajitos.org.ar</a>
                <hr>
            </div>
            <div class="imgInsti3">
                <img src="/img/Comedor04.jpg" alt="">
            </div>
        </section>

        <section class="insti4">
            <div class="imgInsti4">
                <img src="/img/Comedor05.jpg" alt="">
            </div>
            <div class="infoInsti4">
                <h3>Manos en accion</h3>
                <p>Nuestros comedores alimentan hoy a niños y adolescentes brindándoles un espacio de alimentación saludable y, además, un ámbito de colaboración, interacción y reunión</p>
                <a href="https://www.manosenaccionargentina.org/">www.manosenaccionargentina.org</a>
                <hr>
        </section>

    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>