<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/estiloFormulario.css">
        <title>Login</title>
    </head>
    <body>
        <div class="formulario">
            <img src="img/image-logo.jpg" class="avatar" alt="imagen logo">
            <h1>Ingresar</h1>
            <form action="index.ejs" method="GET">
                <input type="email" required name="email" placeholder="E-mail"><br>
                <input type="password" required name="contrasenia" placeholder="Contraseña"><br><br>
                <p><a class="resetear-contrasenia" href="resetear-contrasenia">¿Olvidaste la contraseña?</a></p>
                <button type="submit">Ingresar a mi cuenta</button><br><br>
                <p>¿No tenés cuenta?</p>
                <button class="sec-button" type="button"><a href="registro">Crear cuenta</a></button>
            </form>
        </div>
    </body>
</html>