<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/estiloFormulario.css">
        <title>Reset password</title>
    </head>
    <body>
        <div class="formulario">
            <img src="/img/Logo.png" class="avatar" alt="imagen logo">
            <h1>Restablecer contraseña</h1>
            <form action="index.ejs" method="GET">
                <input type="email" required name="email" placeholder="E-mail"><br>
                <button type="submit">Enviar</button><br><br>
            </form>
        </div>
    </body>
</html>