<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/estiloFormulario.css">
    <title>Resetear password</title>
</head>
<body>
    <form class="formulario" action="index.ejs" method="GET">
        <h1>Resetear contraseña</h1>
        <input type="email" required name="email" placeholder="E-mail"><br>
        
        <button type="submit">Enviar</button><br><br>
        
    </form>
</body>
</html>