<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href=/stylesheets/productos.css>
</head>
<body>
    <div class="container">
        <div class="header">header</div>
        <main class="body_detalle">
            <div class="aside">aside</div>
            <div class="detalle_producto">
                <div class="containerProd">
                    <div class="moldeFotoDetalle">
                        <img src="/imgs/imagen.jpg" alt="Foto Producto">
                    </div>
                    <div class="detallesProd">
                        <h1 class="nombreProd">Nombre producto</h1>
                        <p class="infoProd">informacion sobre el producto</p>
                    </div>
                    <div class="agregarYpagar">
                        <h2 class="precio">Precio:____$</h2>
                        <input type="button" class="botonAgregar" value="AGREGAR">
                    </div>
                </div>
            </div>
        </main>    
        
        <div class="footer">footer</div>
    

    
</body>
</html>