<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href=/stylesheets/productos.css>
</head>
<body>
    <div class="container">
    <div class="header">header</div>   
    <main class="body">
        <section class="Contenedor_productos">
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
                
            </div>
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
            </div>
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
            </div>
        </section>
        <div class="Contenedor_precio">
            <section class="preciosproductos">
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd1<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd2<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd3<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd1<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd1<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd1<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd1<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
            </section>

            <section class="totalypagar">
                <h1 class="textopagar">Total a pagar:____$</h1>
                <input type="button" class="botonpagar" value="Pagar">
            </section>
            
        </div>
    </main>
    <div class="footer">footer</div>
    </div>
   
    
</body>
</html>