<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/estiloAgregar.css">
        <title>Agregar Producto</title>
    </head>
    <body>
        <div class="formulario-agregar-producto">
            <a href="../home"><img src="/img/Logo.png" class="avatar" alt="imagen logo"></a>
            <h1>Agregar producto</h1>
            <form action="/products/agregar-producto" method="POST">
                <input type="hidden" name="id" value="">
                <input type="text" required name="item" placeholder="Item"><br>
                <input type="text" required name="marca" placeholder="Marca"><br>
                <div class="agregar-info1-producto">
                    <input class="presentacion" type="text" required name="presentacion" placeholder="Presentacion">
                    <label for="">Unidad de medida</label>
                    <select name="medida" id="select-medida" required>
                        <option value=""></option>
                        <option value="cc">cc</option>
                        <option value="lt">lt</option>
                        <option value="ml">ml</option>
                        <option value="gr">gr</option>
                        <option value="kg">kg</option>
                        <option value="un">un</option>
                    </select></p><br>
                    <div class="etiqueta-categoria">   
                        <label for="">Seleccionar categoria</label>
                        <select name="categoria" id="select-categoria" required>
                            <option value=""></option>
                            <option value="almacen">Almacen</option>
                            <option value="bebes">Bebes</option>
                            <option value="bebidas">Bebidas</option>
                            <option value="lacteos">Lacteos</option>
                            <option value="limpieza">Limpieza</option>
                            <option value="perfumeria">Perfumeria</option>
                            <option value="nueva-categoria">Nueva categoria</option>
                        </select><br>
                    </div>
                </div>
                <div class="agregar-info2-producto">
                    <label> $</label>
                    <input class="precio" type="text" required name="precio" placeholder="Precio"><br><br>
                    <div class="input-file">
                        <input type="file" required id="imagen_producto" name="imagen_producto">
                        <label for="imagen_producto">Seleccionar archivo de imagen</label>
                        <span id="file-name">Nombre del archivo</span>
                        <script>
                            let inputFile = document.getElementById('imagen_producto');
                            let fileNameField = document.getElementById('file-name');
                            inputFile.addEventListener('change', function(event) {
                                let uploadedFilename = event.target.files[0].name;
                                fileNameField.textContent = uploadedFilename;
                            })
                        </script>
                    </div><br>
                </div><br>
                <p class="texto-nota">* Todos los campos son requeridos</p>
                <button type="submit">Crear Producto</button>
            </form>
        </div>
    </body>
</html>