<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Carrito</title>
</head>
<body>
    <div class="container"> 
        <header>
            <section class="isologotipo">
                <div class="logo">
                    <img src="/img/Logo.png" alt="">
                </div>
                <div>
                    <h3>Almacen Solidario</h3>
                    <h4>Comenz치 a ayudar</h4>
                </div>
            </section>
    
            <section class="navegacion">
                <div class="encabezado">
                    
                    <div class="usuario">
                        <a href=""><i class="fas fa-user"></i></a>
                        <p>Nombre</p>
                    </div>
    
                    <div class="carrito">
                        <a href=""><i class="fas fa-shopping-cart"></i></a>
                        <p>$3.500</p>
                    </div>
    
                </div>
    
                <nav>
                    <ul>
                        <li><a href="">Almacen</a></li>
                        <li><a href="/instituciones">Instituciones</a></li>
                        <li><a href="">Nosotros</a></li>
                        <li class="subLogin">
                            <a href="/login">Cuenta</a>
                            <ul class="children">
                                <li><a href="/registro">Crear Cuenta</a></li>
                                <li><a href="/login">Login</a></li>
                            </ul>
                        
                        </li>
                    </ul>
                </nav>
            </section>
        </header> 
    <main class="body">
        <section class="Contenedor_productos">
            <div class="producto">
                <div class="moldefoto">
                    <img class="fotoProducto" src="images\Imagenes_productos\Arroz Largo fino Ap칩stoles x 1 kg.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Arroz Largo fino Ap칩stoles x 1 kg</h1>
                    <p>Arroz Largo fino</p>
                </div>
                
            </div>
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
            </div>
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
            </div>
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
            </div>
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
            </div>
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
            </div>
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
            </div>
            <div class="producto">
                <div class="moldefoto">
                    <img src="/imgs/imagen.jpg" alt="Foto Producto">
                </div>
                <div class="texto_producto">
                    <h1>Nombre Producto</h1>
                    <p>Descripcion producto</p>
                </div>
            </div>
        </section>
        <div class="Contenedor_precio">
            <section class="preciosproductos">
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">Arroz Largo fino Ap칩stoles x 1 kg<h4 class="cantidad_producto">X 3</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$ 174,9</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd2<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd3<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd1<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd1<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd1<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
                <div class="contenedor_info_producto">
                    <div class="producto_precio">
                        <h3 class="precioProd">NombreProd1<h4 class="cantidad_producto">X___</h4></h3>
                    </div>
                    <div class="precio_producto">
                        <h4>$___</h4>
                    </div>
                </div>
            </section>

            <section class="totalypagar">
                <h1 class="textopagar">Total a pagar:  174,9$</h1>
                <input type="button" class="botonpagar" value="Pagar">
            </section>
            
        </div>
    </main>
    
    <%- include('./partials/footer') %>
       
    
</body>
</html>