* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body.form {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f4f8f9;
}
.formulario input , .formulario button {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    outline: none;
    width: 100%;
}
.formulario button {
    color: white;
    background-color: #1e9e6b;
    border-radius: 5px;
}
.formulario button:hover {
    background-color: #069059;
}
.formulario .sec-button {
    color: white;
    background-color: #dc7a07;
    border-radius: 5px;
}
.formulario .sec-button:hover {
    background-color: #cb4332;
}
.formulario a {
    color: white;
    text-decoration: none;
    display: block;
}
.formulario p {
    text-align: right;
    margin-bottom: -10px;
}
.formulario .recordame {
    margin-bottom: 15px;
    display: flex;
}
.formulario .recordame input {
    margin: 0;
    width: 10%;
}
.formulario .resetear-contrasenia {
    color: black;
}
.formulario .resetear-contrasenia:hover {
    color:#0044aa;
}
.formulario {
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    padding: 15px;
    width: 320px;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}
.formulario input {
    border-bottom: 1px solid #e1e1e1;
}
.formulario h1 {
    font-size: 28px;
}
.formulario .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -75px;
    left: calc(50% - 50px);
}
.formulario label , .formulario p {
    font-size: 13px;
    color: gray;
}
