* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.disenio-footer {
    color: #939393;
    background-color: #272727;
    height: 12vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position:relative;
    width: 100%;

}
.disenio-footer .copyright {
    font-size: 12px;
    align-self: flex-end;
    flex: 1 1 44%;
}
.disenio-footer .preguntas-frecuentes {
    text-decoration: none;
    color: #939393;
}
.disenio-footer .preguntas-frecuentes:hover {
    color: #0044aa;
}
.disenio-footer #preguntas-frecuentes {
    flex: 1 1 44%;
}
.disenio-footer .redes {
    display: flex;
    flex-direction: column;
    flex: 1 1 12%;
}
.disenio-footer .iconos-redes {
    display: flex;
}
.disenio-footer .iconos-redes a:hover {
    color: #0044aa;
}
footer div div a {
    margin-top: 10px;
    margin-right: 17px;
    color: #3ab0e2;
}


