* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f4f8f9;
}
input , button , #select-medida , #select-categoria {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    outline: none;
}
input , button {
    width: 100%;
}
#select-medida {
    width: 5%;
}
#select-categoria {
    width: 12%;
}
button {
    color: white;
    background-color: #1e9e6b;
    border-radius: 5px;
}
button:hover {
    background-color: #069059;
}
.sec-button {
    color: white;
    background-color: #dc7a07;
    border-radius: 5px;
}
.sec-button:hover {
    background-color: #cb4332;
}
.presentacion {
    width: 40%;
}
.precio {
    width: 30%;
}
a {
    color: white;
    text-decoration: none;
    display: block;
}
p {
    text-align: right;
    margin-bottom: -10px;
}
.resetear-contrasenia {
    color: black;
}
.resetear-contrasenia:hover {
    color:#0044aa;
}
.texto-file {
    color: gray;
    padding: 10px;
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
}
.input-file {
    position: relative;
    width: 80%;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
}
#imagen_producto {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.formulario {
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    padding: 15px;
    width: 320px;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}
input {
    border-bottom: 1px solid #e1e1e1;
}
h1 {
    font-size: 28px;
}
.formulario .avatar , .formulario-agregar-producto .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    position: absolute;
    top: -70px;
    left: calc(50% - 50px);
}
.formulario-agregar-producto {
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    padding: 15px;
    width: 320px;
    position: absolute;
    left: 50vw;
    top: 80px;
    transform: translateX(-50%);
}