.body{
    background-color:#00b8e6;
    height: 955px;
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
}

.producto{
    background-color: white;
    border:2px solid black;
    height:150px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 5px;
}
.texto_producto{
    position: relative;
}

.Contenedor_productos{
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: auto;
    margin-top: 100px;
    margin-bottom: 5px;
    overflow-x: hidden;
    
}

.Contenedor_productos::-webkit-scrollbar{
    display: none;
}
.Contenedor_precio{
    background-color: white;
    border:2px solid black;
    margin: 10px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 29%;
    margin-top: 105px;
}
.contenedor_info_producto{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.cantidad_producto{
    display: flex;
    align-self: center;
    width:30%;
    justify-content: center;
    font-size: medium;
}

.producto_precio{
    width: 70%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
.textopagar{
    position: relative;
    height: auto;
    margin-left: 15px;
    top: 50px;
}
.preciosproductos{
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    overflow: auto;
}

.precioProd{
    align-self: flex-start;

}

.totalypagar{
    display: flex;
    flex-direction: row;
}

.botonpagar{
    position: relative;
    align-self: center;
    margin-left: 37%;
    top: 60px;
    background-color: #0022aa;
    color: white;
    border-radius: 5px;
    border: 0;
    height: 50px;
    width: 100px;
}
.precio_producto{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fotoProducto{
    position: relative;
    height: 120px;
    width: auto;
}

.moldefoto{
    display: flex;
    height: 120px;
    width: auto;
    justify-content: center;
    margin: 10px 10px;
}

/* DETALLE DEL PRODUCTO */
@media screen and (max-width:768px){
    .aside{
        width: 40%!important;   
    }
    .producto_almacen, .detalle_producto{
        width:225px!important;
        overflow:hidden;
    }
    .precioProd_almacen, .detalle_producto_almacen, .detalle_presentacion_producto_almacen,.texto_producto_carrito, .precioProd,.precio_producto,.textopagar{
        font-size: 10px!important;
    }
    .nombreProd_almacen{
        font-size:12px!important;
    }
    .moldefoto{
        height:70px!important;
    }
    .producto{
        height:160px;
    }
    .botonpagar{
        height: 25px;
        width: 50px;
    }
    .precio_producto{
        justify-content:flex-end;
        width:70px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .cantidad_producto{
        font-size:8px;
    }
    .contenedor_info_producto{
        flex-direction: column;
    }
    .nombreProd{
        font-size:small!important;
    }
}

.aside{
    height: max-content; 
    width: 15%;
    margin-top: 102px;
    border:2px solid black;
    margin-left: 2px;
    margin-bottom: 2px;
    overflow:scroll;
    overflow-x: hidden;
    overflow-y: hidden;

}


.moldeFotoDetalle{
    position: relative;
    height: 300px;
    width: 250px;
    top:10px;
    left:10px;
}

.fotoDetalle {
    display: flex;
    height: 190px;
    width: auto;
    justify-content: center;
    margin: 10px 10px;
}

.containerProd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height:500px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #00b8e6;
}
.infoProd{
    height: 80%;
}
.nombreProd{
    font-size: medium;
    height: 20%;
}
.detallesProd{
    position: relative;
    align-items: stretch;
    top:10px;
    left:20px;
    width:700px;
    height:150px;
}

.botonAgregar{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0022aa;
    color:white;
    border-radius: 5px;
    border: 0;
    width: 40%;
}

.agregarYpagar{
    display: flex;
    align-items: center;
    height:150px;
    justify-content: space-between;
    width:100%;
}
.agregarYpagarDetail {
    display: flex;
    flex-direction: column-reverse;
}

.buttonPDEdit{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1e9e6b;
    color:white;
    border-radius: 5px;
    border: 0;
    width: 40%;
}

.buttonPDDelete{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dc7a07;
    color:white;
    border-radius: 5px;
    border: 0;
    width: 40%;
}

.buttonPDEdit:hover{
    background-color: #069059;
}

.buttonPDDelete:hover{
    background-color: #cb4332;
}

.detalle_producto{
    width: 85%;
    margin-top: 105px;
}
.body_detalle{
    display: flex;
}
.subcategoria{
    margin-left: 10px;
    justify-content: space-between;
    margin-top: 5px;
    text-decoration: none;
}
.categoria{
    margin-top: 5px;
    font-weight: bold;
    text-decoration: none;
}

.categoria:hover, .subcategoria:hover{
    text-decoration-line: underline;
}

/* Almacen */

.grilla_almacen{
    border: 2px solid black;
    margin-top: 102px;
    margin-left: 5px;
    width: 85%;
    display: flex;
    grid-gap: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #00b8e6;
    margin-bottom: 2px;
    overflow-x: hidden;
    overflow: auto;
}

.producto_almacen{
    border: 2px solid black;
    width: 300px;
    margin-top: 2px;
    margin-left: 2px;
    display: flex;
    background-color: white;
    flex-direction: column;
    height:fit-content;
}
.nombreProd_almacen{
    font-size: medium;
}
.infoProd_almacen{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    align-items: flex-start;
}
.precioProd_almacen{
    position: relative;
    align-self: flex-start;
}

.botonAgregar_almacen{
    position: relative;
    background-color: #0022aa;
    color:white;
    border-radius: 5px;
    border: 0;
    height: 40px;
    width: 100px;
    right: 5%;
    bottom: 15%;

}
.grilla_almacen::-webkit-scrollbar{
    display: none;
}
.precioyboton_infoProd_almacen{
    display: flex;
    justify-content: flex-end;
    height: 20%;
}
.fotoeInfo_almacen{
    display: flex;
    flex-direction: row;
}

.linkProducto {
    text-decoration: none;
    color: black;
}

.detalle_producto_almacen{
    margin-top:5px;
}

/* Carrito */
div#quantityInCart {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 20%;
}

input#quantityInCart {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.texto_producto_carrito {
    position: relative;
    width: 100%;
}

.items-carrito {
    font-size: 12px;
}
