* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
    
}

main.insti {
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #f4f8f9;
    padding-top: 95px;
    
}

section.proceso {
    width: 84%;
}

.selecInstitucion {
    margin-top: 5px;
    display:flex;
    flex-direction: column;
}

.sec-button {
    margin-left: 10px;
    padding: 10px;
    color: white;
    background-color: #1e9e6b;
    border-radius: 5px;
}
.sec-button:hover {
    background-color: #069059;
}

.errorInstitucion {
    display: flex;
    align-items: center;
}

section.insti1,
section.insti2,
section.insti3,
section.insti4 {
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

@media (max-width: 767px) {
    section.insti1,
    section.insti2,
    section.insti3,
    section.insti4 {
        width: 95vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
}

div.infoInsti1,
div.infoInsti2,
div.infoInsti3,
div.infoInsti4 {
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 767px) {
    div.infoInsti1,
    div.infoInsti2,
    div.infoInsti3,
    div.infoInsti4 {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
    }

}

div.infoInsti1 p,
div.infoInsti2 p,
div.infoInsti3 p,
div.infoInsti4 p {
    text-align: center;
}

div.imgInsti1,
div.imgInsti2,
div.imgInsti3,
div.imgInsti4 {
    width: 65%;
    padding: 5px;
}

@media (max-width: 767px) {
    div.imgInsti1,
    div.imgInsti2,
    div.imgInsti3,
    div.imgInsti4 {
        width: 100%;
        padding: 5px;
}

}

div.imgInsti1 img,
div.imgInsti2 img,
div.imgInsti3 img,
div.imgInsti4 img {
    width: 100%;
}

div.infoInsti1 hr {
    background-color: #dc7a07;
    border: 3px solid #dc7a07;
    width: 70%;
    height: 0px;
}

div.infoInsti2 hr {
    background-color: #1e9e6b;
    border: 3px solid #1e9e6b;
    width: 70%;
    height: 0px;
}

div.infoInsti3 hr {
    background-color: #3ab0e2;
    border: 3px solid #3ab0e2;
    width: 70%;
    height: 0px;
}

div.infoInsti4 hr {
    background-color: #f7d861;
    border: 3px solid #f7d861;
    width: 70%;
    height: 0px;
}