<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Instituciones</title>
</head>
<body>

    <%- include('../partials/header')%>

    <main class="insti">
        <% if (typeof carrito != 'undefined' && carrito.estado == 'proceso') { %>
        <section class="proceso">
            <div>
                <i class="fas fa-hotel"></i>
                <h3>Elegis la institucion</h3>
            </div>
       
        
            <form action="/users/donar" method="POST">
                <select name="institucion" id="elegirInstitucion">
                    <option value="0">Elegí institución</option>
                    <option value="1">Los piletones</option>
                    <option value="2">Los niños primero</option>
                    <option value="3">Los bajitos</option>
                    <option value="4">Manos en accion</option>
                </select>
                <button class="sec-button" type="submit">Donar</button>
            </form>
            <div class="errorInstitucion">
            <% if (typeof errors != 'undefined') { %>
                <p style="color: red; text-align: left; margin-right: 5px">Error!</p>
                <p style="font-size: 13px"><%= errors[0].msg %></p>
            <% } %>
            </div>
        </section>
        <% } %>
        <section class="insti1">
            <div class="infoInsti1">
                <h3>Los piletones</h3>
                <p>En el Comedor Los Piletones se alimentan diariamente a 1600 personas entre ellos chicos, madres y abuelos. Se les brinda desayuno, almuerzo y cena.</p>
                <a href="https://www.psa.com.ar/">www.psa.com.ar</a>
                <hr>
            
            </div>
            <div class="imgInsti1">
                <img src="/img/Comedor08.jpg" alt="">
            </div>        
        </section>

        <section class="insti2">
            <div class="imgInsti2">
                <img src="/img/Comedor06.jpg" alt="">
            </div>
            <div class="infoInsti2">
                <h3>Los niños primero</h3>
                <p>Nuestro compromiso moral de trabajar con los vecinos de Barracas y La Boca en una solución a los problemas urgentes que enfrentan las clases sociales más desprotegidas es desde 1988 nuestra misión principal.</p>
                <a href="http://losniniosprimero.com.ar/">www.losniniosprimero.com.ar</a>
                <hr>
            </div>
        </section>

        <section class="insti3">
            <div class="infoInsti3">
                <h3>Los bajitos</h3>
                <p>Somos una organización social que construye y sustenta un espacio en el que las familias del barrio Troncos del Talar, ubicado en el Partido de Tigre, se reúne y participa de actividades y acciones comunitarias.</p>
                <a href="https://es-la.facebook.com/ComedorBajitos/">https://www.facebook.com/ComedorBajitos/</a>
                <hr>
            </div>
            <div class="imgInsti3">
                <img src="/img/Comedor04.jpg" alt="">
            </div>
        </section>

        <section class="insti4">
            <div class="imgInsti4">
                <img src="/img/Comedor05.jpg" alt="">
            </div>
            <div class="infoInsti4">
                <h3>Manos en accion</h3>
                <p>Nuestros comedores alimentan hoy a niños y adolescentes brindándoles un espacio de alimentación saludable y, además, un ámbito de colaboración, interacción y reunión</p>
                <a href="https://www.manosenaccionargentina.org/">www.manosenaccionargentina.org</a>
                <hr>
        </section>

    </main>

    <%- include('../partials/footer') %>
    <script src = "/js/instituciones.js"></script>
</body>
</html>