<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Instituciones</title>
</head>
<body>

    <%- include('../partials/header')%>

    <main class="insti">
        <section class="proceso">
            Tu compra fue realizada!
            <div>
                <i class="fas fa-truck-moving"></i>
                <h3>Los entregamos</h3>
            </div>
            Mañana entregaremos tu donación a Los bajitos
        </section>
        
        <section class="insti3">
            <div class="infoInsti3">
                <h3>Los bajitos</h3>
                <p>Somos una organización social que construye y sustenta un espacio en el que las familias del barrio Troncos del Talar, ubicado en el Partido de Tigre, se reúne y participa de actividades y acciones comunitarias.</p>
                <a href="https://es-la.facebook.com/ComedorBajitos/">https://www.facebook.com/ComedorBajitos</a>
                <hr>
            </div>
            <div class="imgInsti3">
                <img src="/img/Comedor04.jpg" alt="">
            </div>
        </section>
        <section class="proceso">
            Vos nos
       <div>
           <i class="fas fa-child"></i>
           <h3>Ayudas</h3>
       </div>
           Muchas gracias !!!
       </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>