<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Instituciones</title>
</head>
<body>

    <%- include('../partials/header')%>

    <main class="insti">
        <section class="proceso">
            <span class = "textoInsti"><p>Tu compra fue realizada!</p></span>
            <div>
                <i class="fas fa-truck-moving"></i>
                <h3>Los entregamos</h3>
            </div>
            <span class = "textoInsti"><p>Entregaremos tu donación a Los niños primero</p></span>   
        </section>
        
        <section class="insti2">
            <div class="imgInsti2">
                <img src="/img/Comedor06.jpg" alt="">
            </div>
            <div class="infoInsti2">
                <h3>Los niños primero</h3>
                <p>Nuestro compromiso moral de trabajar con los vecinos de Barracas y La Boca en una solución a los problemas urgentes que enfrentan las clases sociales más desprotegidas es desde 1988 nuestra misión principal.</p>
                <a href="http://losniniosprimero.com.ar/">www.losniniosprimero.com.ar</a>
                <hr>
            </div>
        </section>

        <section class="proceso">
            <span class = "textoInsti"><p>Vos nos</p></span>             
            <div>
                <i class="fas fa-child"></i>
                <h3>Ayudas</h3>
            </div>
            <span class = "textoInsti"><p>Muchas gracias !!!</p></span> 
        </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>