<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Instituciones</title>
</head>
<body>

    <%- include('../partials/header')%>

    <main class="insti">
        <section class="proceso">
            Tu compra fue realizada!
            <div>
                <i class="fas fa-truck-moving"></i>
                <h3>Los entregamos</h3>
            </div>
            Mañana entregaremos tu donación a Los Piletones
        </section>
        
        <section class="insti1">
            <div class="infoInsti1">
                <h3>Los piletones</h3>
                <p>En el Comedor Los Piletones se alimentan diariamente a 1600 personas entre ellos chicos, madres y abuelos. Se les brinda desayuno, almuerzo y cena.</p>
                <a href="https://www.psa.com.ar/">www.psa.com.ar</a>
                <hr>
            
            </div>
            <div class="imgInsti1">
                <img src="/img/Comedor08.jpg" alt="">
            </div>        
        </section>
        <section class="proceso">
            Vos nos
       <div>
           <i class="fas fa-child"></i>
           <h3>Ayudas</h3>
       </div>
           Muchas gracias !!!
       </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>