<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Instituciones</title>
</head>
<body>

    <%- include('../partials/header')%>

    <main class="insti">
        <section class="proceso">
            <span class = "textoInsti"><p>Tu compra fue realizada!</p></span>
            <div>
                <i class="fas fa-truck-moving"></i>
                <h3>Los entregamos</h3>
            </div>
            <span class = "textoInsti"><p>Entregaremos tu donación a Manos en acción</p></span>   
        </section>
        
        <section class="insti4">
            <div class="imgInsti4">
                <img src="/img/Comedor05.jpg" alt="">
            </div>
            <div class="infoInsti4">
                <h3>Manos en accion</h3>
                <p>Nuestros comedores alimentan hoy a niños y adolescentes brindándoles un espacio de alimentación saludable y, además, un ámbito de colaboración, interacción y reunión</p>
                <a href="https://www.manosenaccionargentina.org/">www.manosenaccionargentina.org</a>
                <hr>
        </section>
        <section class="proceso">
            <span class = "textoInsti"><p>Vos nos</p></span>             
            <div>
                <i class="fas fa-child"></i>
                <h3>Ayudas</h3>
            </div>
            <span class = "textoInsti"><p>Muchas gracias !!!</p></span> 
        </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>