<div class="aside">
    <form style="display: flex; flex-direction: column;">
        <a class="categoria" href="/products/almacen/almacen">-Almacén<br>
            <a class="subcategoria" href="/products/almacen/almacen/arrozYFideos">-Arroz y fideos</a></a><br>
            <a class="subcategoria" href="/products/almacen/almacen/conservas">-Conservas</a></a><br>
            <a class="subcategoria" href="/products/almacen/almacen/infusionesCacao">-Infusiones, cacao</a></a><br>
            <a class="subcategoria" href="/products/almacen/almacen/sopasCaldosPure">-Sopas, caldos, puré</a></a><br>
            <a class="subcategoria" href="/products/almacen/almacen/mermeladasYDulces">-Mermeladas y dulces</a></a><br>
            <a class="subcategoria" href="/products/almacen/almacen/premezclaPostres">-Premezcla postres</a></a><br>
            <a class="subcategoria" href="/products/almacen/almacen/panaderiaGalletitas">-Panaderia, galletitas</a></a><br>
            <a class="subcategoria" href="/products/almacen/almacen/harinas">-Harinas</a></a><br>
            <a class="subcategoria" href="/products/almacen/almacen/aceitesYAderezos">-Aceites y aderezos</a></a><br>
        <a class="categoria" href="/products/almacen/lacteos">-Lacteos<br>
            <a class="subcategoria" href="/products/almacen/lacteos/dulceDeLeche">-Dulce de leche</a></a><br>
            <a class="subcategoria" href="/products/almacen/lacteos/lecheLargaVida">-Leche larga vida</a></a><br>
            <a class="subcategoria" href="/products/almacen/lacteos/lecheEnPolvo">-Leche en polvo</a></a><br>
        <a class="categoria" href="/products/almacen/perfumeria">-Perfumería<br>
        <a class="categoria" href="/products/almacen/bebidas">-Bebidas<br>
            <a class="subcategoria" href="/products/almacen/bebidas/aguaMineral">-Agua mineral</a></a><br>
            <a class="subcategoria" href="/products/almacen/bebidas/gaseosas">-Gaseosas</a></a><br>
        <a class="categoria" href="/products/almacen/limpieza">-Limpieza<br>
            <a class="subcategoria" href="/products/almacen/limpieza/piso">-Piso</a></a><br>
            <a class="subcategoria" href="/products/almacen/limpieza/banio">-Baño</a></a><br>
            <a class="subcategoria" href="/products/almacen/limpieza/cocina">-Cocina</a></a><br>
            <a class="subcategoria" href="/products/almacen/limpieza/papeles">-Papeles</a></a><br>
        <a class="categoria" href="/products/almacen/bebes">-Bebés<br>
            <a class="subcategoria" href="/products/almacen/bebes/paniales">-Pañales</a></a><br>
            <a class="subcategoria" href="/products/almacen/bebes/oleoCalcareo">-Oleo calcareo</a></a><br>
        
    </form>
</div>