<footer class="disenio-footer">
    <p class="copyright">Copyright 2020 Almacen Solidario</p>
    <p id="preguntas-frecuentes"><a class="preguntas-frecuentes" href="preguntas-frecuentes">Preguntas Frecuentes</a></p>
    <div class="redes">
        <p>Seguinos!</p>
        <div class="iconos-redes">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>