<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Login</title>
    </head>
    <body class= 'form'>
        <div class="formulario">
            <a href="../home"><img src="/img/Logo.png" class="avatar" alt="imagen logo"></a>
            <h1>Ingresar</h1>
            <form action="index.ejs" method="GET">
                <input type="email" required name="email" placeholder="E-mail"><br>
                <input type="password" required name="contrasenia" placeholder="Contraseña"><br><br>
                <p><a class="resetear-contrasenia" href="resetear-contrasenia">¿Olvidaste la contraseña?</a></p>
                <button type="submit">Ingresar a mi cuenta</button><br><br>
                <p>¿No tenés cuenta?</p>
                <button class="sec-button" type="button"><a href="registro">Crear cuenta</a></button>
            </form>
        </div>
    </body>
</html>