<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Detalle del producto</title>
</head>
<div class="container">
    <header>
        <section class="isologotipo">
            <div class="logo">
                <img src="/img/Logo.png" alt="">
            </div>
            <div>
                <h3>Almacen Solidario</h3>
                <h4>Comenzá a ayudar</h4>
            </div>
        </section>

        <section class="navegacion">
            <div class="encabezado">
                
                <div class="usuario">
                    <a href=""><i class="fas fa-user"></i></a>
                    <p>Nombre</p>
                </div>

                <div class="carrito">
                    <a href=""><i class="fas fa-shopping-cart"></i></a>
                    <p>$3.500</p>
                </div>

            </div>

            <nav>
                <ul>
                    <li><a href="">Almacen</a></li>
                    <li><a href="/instituciones">Instituciones</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li class="subLogin">
                        <a href="/login">Cuenta</a>
                        <ul class="children">
                            <li><a href="/registro">Crear Cuenta</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    
                    </li>
                </ul>
            </nav>
        </section>
    </header>

<body>
    
        <main class="body_detalle">
            <div class="aside">
                <form style="display: flex; flex-direction: column;">
                    <a class="categoria" href="/imgs/imagen.jpg">-Almacén<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Arroz y fideos</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Conservas</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Infusiones, cacao</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Sopas, caldos, puré</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Mermeladas y dulces</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Premezcla postres</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Panaderia, galletitas</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Harinas</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Aceites y aderezos</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Lacteos<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Dulce de leche</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Leche larga vida</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Leche en polvo</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Perfumería<br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Bebidas<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Agua mineral</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Gaseosas</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Limpieza<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Piso</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Baño</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Cocina</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Papeles</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Bebés<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Pañales</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Oleo calcareo</a></a><br>
                    
                </form>

            </div>
            <div class="detalle_producto">
                <div class="containerProd">
                    <div class="moldeFotoDetalle">
                        <img src="/imgs/imagen.jpg" alt="Foto Producto">
                    </div>
                    <div class="detallesProd">
                        <h1 class="nombreProd">Nombre producto</h1>
                        <p class="infoProd">informacion sobre el producto</p>
                    </div>
                    <div class="agregarYpagar">
                        <h2 class="precio">Precio:____$</h2>
                        <input type="button" class="botonAgregar" value="AGREGAR">
                    </div>
                </div>
            </div>
        </main>    
            
        <%- include('../partials/footer') %>
    
</body>
</html>