<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Registro</title>
    </head>
    <body class = "form">
        <div class="formulario">
            <a href="/home"><img src="/img/Logo.png" class="avatar" alt="imagen logo"></a>
            <h1>Crear Cuenta</h1>
            <% if (typeof errors != 'undefined') { %>
                <p style="color: red; text-align: left; margin-bottom: 3px">Error!</p>
                <ul style="font-size: 13px">
                    <% for (let i = 0; i < errors.length; i++) { %>
                        <li><%= errors[i].msg %></li>
                    <% } %>
                </ul>
            <% } %>
            <div class="errores">
                <ul></ul>
            </div>
            <form action="/users/crear" class="registro" method="POST">
                <div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre"><br>
                <div class="invalid-feedback"></div>
                </div>
                <div>
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail"><br>
                <div class="invalid-feedback"></div>
                </div>
                <div>
                <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña"><br>
                <div class="invalid-feedback"></div>
                </div>
                <div>
                <input type="password" class="form-control" id="rePassword" name="confContrasenia" placeholder="Confirmar contraseña"><br>
                <div class="invalid-feedback"></div>
                </div>
                <div class="invalid-form"></div>
                <button type="submit">Crear Cuenta</button>
            </form>
        </div>
        <script src="/js/registro.js"></script>
    </body>
</html>