<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Mi perfil</title>
    </head>
    <body class = "form">
        <div class="formulario">
            <a href="/home"><img src="/img/Logo.png" class="avatar" alt="imagen logo"></a>
            <h1>Mi perfil</h1>
            
                <br><label><%= user.name %></label><br>
                <br><label><%= user.email %></label><br>
                
            
                <a href="/users/editar-perfil/<%= user.id %>" id="editarPerfil">Editar - Cambiar contraseña</a>
            
        </div>
    </body>
</html>