<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Login</title>
    </head>
    <body class= 'form'>
        <div class="formulario">
            <a href="/home"><img src="/img/Logo.png" class="avatar" alt="imagen logo"></a>
            <h1>Ingresar</h1>
            <% if (typeof errors != 'undefined') { %>
                <p style="color: red; text-align: left; margin-bottom: 3px">Error!</p>
                <ul style="font-size: 13px">
                    <% for (let i = 0; i < errors.length; i++) { %>
                        <%= errors[i].msg %>
                    <% } %>
                </ul>
            <% } %>
            <form action="/users/ingresar" method="POST">
                <input type="email" name="email" <% if (typeof email != 'undefined') { %> value="<%= email %>" <% } else { %> placeholder="E-mail" <% } %>><br>
                <input type="password" name="password" placeholder="Contraseña"><br><br>
                <div class="recordame">
                    <input type="checkbox" name="recordame">
                    <label for="">Recordame</label>
                </div>
                <p><a class="resetear-contrasenia" href="resetear-contrasenia">¿Olvidaste la contraseña?</a></p>
                <button type="submit">Ingresar a mi cuenta</button><br><br>
                <p>¿No tenés cuenta?</p>
                <button class="sec-button" type="button"><a href="registro">Crear cuenta</a></button>
            </form>
        </div>
    </body>
</html>