<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Reset password</title>
    </head>
    <body class= "form">
        <div class="formulario">
            <a href="/home"><img src="/img/Logo.png" class="avatar" alt="imagen logo"></a>
            <h1>Restablecer contraseña</h1>
            <% if (typeof errors != 'undefined') { %>
                <p style="color: red; text-align: left; margin-bottom: 3px">Error!</p>
                <ul style="font-size: 13px">
                    <% for (let i = 0; i < errors.length; i++) { %>
                        <li><%= errors[i].msg %></li>
                    <% } %>
                </ul>
            <% } %>
            <form action="/resetear-contrasenia" method="POST">
                <input type="email" required name="email" placeholder="E-mail"><br>
                <button type="submit">Enviar</button><br><br>
            </form>
        </div>
    </body>
</html>